/* div{
    background-color: red;
    /*height: 50px; /*alto*/
    /*width: 80px;/*ancho*/
}
/*box model*/
/*p{
    /*border: 1px solid black;/*hace referencia al box model, bordes los cuatro lados*/
    /* border-left: 5px solid black;
    border-bottom: 5px dotted pink;
    border-top: 5px double blue; */
    /*padding:80px 25px 96px 5px;/*el relleno de 50 px mi caja div queda apretado*/
                        /*primer valor de arriba abajo el segundo izquierda derecha si son cuatro es lo mismo pero de a uno*/
    
    /*margin: 95px 25px 52px 0;/*



}*/
